body {
  margin: 0;
}

.row {
  margin: 0;
}

#position1 {
  background-color: #211e2e;
  margin: 0;
  padding: 0;
  height: 1000px;
  position: fixed;
}

#position2 {
  margin: 0;
  padding: 0;
  height: 1000px;
  float: right;
  margin-left: 0;
}

#heading {
  color: #fff;
}

.search {
  width: 15%;
  float: right;
}
