body {
  margin: 0;
}

.row {
  margin: 0;
}

#position1 {
  background-color: #211e2e;
  margin: 0;
  padding: 0;
  height: 1000px;
  position: fixed;
}

#position2 {
  margin: 0;
  padding: 0;
  height: 1000px;
  float: right;
  margin-left: 0;
}

#heading {
  color: #fff;
}

#btn1 {
  background-color: transparent;
  border-color: transparent;
  position: absolute;
  top: 17px;
  right: 285px;
}

#search {
  width: 85%;
}
