{% extends 'bootstrap/base.html' %}
<!-- Styles block -->
{% block styles%} {{ super() }}
<link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}"> {% endblock %} {% block body%}


<div id="position1" class="col-md-2">
  <ul>
    <h1><a  id="heading" href="/">NICKBOX</a></h1>
    <ul>
      <h2><a href="/"><button type="button" class="btn" id="home">HOME</button></a>
        </ul>{% if current_user.is_authenticated %}
        <a href="{{url_for('main.group', id=current_user.id)}}"><button class="btn" id="login">
          {{current_user.name}}</button></a></ul>
        <a href="{{url_for('auth.logout')}}"><button class="btn" id="logout">log out</button></a>
        {% else %}
        <ul><a href="{{url_for('auth.login')}}"><button type="button" class="btn base">LOGIN</button></a></ul>{%endif%}
        <ul><h2><a href="{{url_for('auth.register')}}"><button type="button" class="btn base">CREATE GROUP</button></a></ul></h2>
      <h3><a  id="playlist" href="/"><i class="glyphicon glyphicon-headphones"></i>Playlist</a></h3>

    </ul>
  </ul>
</div>
<div class="col-md-10" id="position2">

  <!-- content block -->
  {% block content %} {% endblock %}
</div>

{% endblock %}
