{% extends 'bootstrap/base.html' %}



<!-- Styles block -->

{% block styles%} {{ super() }}
<link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}"> {% endblock %} {% block body%}


<div class="row">
  <div class="col-md-2" id="position1">
    <ul>
      <h1><a  id="heading" href="/">NICKBOX</a></h1>
      <ul>
        <h2><a href="/"><button type="button" class="btn" id="home">HOME</button></a>
        </ul>{% if current_user.is_authenticated %}
        <a href="{{url_for('main.group', id=current_user.id)}}">
          {{current_user.name}}

        </a></ul>
        <a href="{{url_for('auth.logout')}}">LOG OUT</a>{% else %}
        <ul><a href="{{url_for('auth.login')}}"><button type="button" class="btn base">LOGIN</button></a></ul>{%endif%}
        <ul><h2><a href="{{url_for('auth.register')}}"><button type="button" class="btn base">CREATE GROUP</button></a></ul></h2>
        <h3><a href="/"><i class="glyphicon glyphicon-headphones"></i>Playlist</a></h3>

        <span class="social">
          <a class="icon icon-facebook facebookIcon" target="_blank" href="https://www.facebook.com/github"></a>
          <a target="_blank" href="https://twitter.com/github" class="icon icon-twitter"></a>
          <a target="_blank" href="https://instagram.com/github/" class="icon icon-instagram"></a>
          <a target="_blank" href="https://plus.google.com/103476120225460848054/posts" class="icon icon-googleplus"></a>
          <a target="_blank" href="http://www.pinterest.com/github/" class="icon icon-pinterest"></a>
          <a target="_blank" href="http://flickr.com/github" class="icon icon-flickr"></a>
          <a target="_blank" href="https://www.linkedin.com/company/github" class="icon icon-linkedin"></a>
        </span>

      </ul>
  </div>
  <div class="col-md-10" id="position2">

    <!-- content block -->
    {% block content %} {% endblock %}
  </div>
</div>

{% endblock %}
