<!-- Display Playlist -->
{% macro displayPlaylist(playlist_list) %} {% for playlist in playlist_list %}
<div class="well col-xs-10 col-sm-6 col-md-4 col-lg-2 text-center playlist-card">
  <h2><a href='/playlist/{{playlist.id}}'></h2> {{ playlist.name }} <br>
  <small>by {{ playlist.group.name }}</small>
</div>
{% endfor %} {% endmacro %}

<!-- Display Songs in a Playlist -->
{% macro displaySong(song_list) %}
<div class="container-fluid" id="audio">
  <audio controls="controls" autoplay="autoplay" id="songs" loop="loop"></audio>
</div>
{% for song in song_list %}
<div class="container-fluid" id="songlist">
  <table style="width:100%">

    <td>
      <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
        <ul>
          <h3 class="song-name"><a href="javascript:void(0);" onclick="playSong('{{song.name}}')">{{song.name}}</a>
      </h3>
        </ul>
      </div>
    </td>

  </table>
</div>
{% endfor %}

<script type="text/javascript">
  function playSong(song_name) {
    $('#songs').attr('src', '/static/audios/' + song_name)
  }
</script>

{% endmacro %}


<!-- Display Songs in a Playlist -->
{% macro displayFoundSong(song_list) %} {% for song in song_list %}

<div class="well col-xs-10 col-sm-6 col-md-4 col-lg-2 text-center playlist-card">

  <li class="text-center">

    <h3 class="playlist-name">

             <a href='/group/playlist/{{playlist.id}}'>
                  {{ playlist.name }} <br>
                  <small>
                      by {{ playlist.group.name }}
                  </small>
              </a>

      </h3>

  </li>

</div>

{% endfor %} {% endmacro %}

<!-- Display Playlist in a group page -->
{% macro displayPlaylistGroup(playlist_list) %} {% for playlist in playlist_list %}
<div class="well col-xs-10 col-sm-6 col-md-4 col-lg-2 text-center playlist-card">
  <h2><a href='/group/playlist/{{playlist.id}}'></h2> {{ playlist.name }} <br>
  <small>by {{ playlist.group.name }}</small>
</div>
{% endfor %} {% endmacro %}


<!-- Display Songs in a Group's Playlist -->
{% macro displaySongGroup(song_list) %}
<div class="container-fluid" id="audio">
  <audio controls="controls" autoplay="autoplay" id="songs" loop="loop"></audio>
</div>
<hr>
<h3 class="text-center">List of songs</h3> {% for song in song_list %}

<div class="container-fluid" id="songlist">
  <table style="width:100%">

    <td>
      <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
        <ul>
          <h3 class="song-name"><a href="javascript:void(0);" onclick="playSongGroup('{{song.name}}')">{{song.name}}</a>
      </h3>
        </ul>
      </div>
      <h3>
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
          <a href="/group/playlist/song/delete/{{song.id}}" class="delete">Delete Song</a>
        </div>
      </h3>
    </td>

  </table>
</div>

{% endfor %}
<script type="text/javascript">
  function playSongGroup(song_name) {
    $('audio').attr('src', '/static/audios/' + song_name)
  }
</script>

{% endmacro %}
