<!-- Display Playlist -->
{% macro displayPlaylist(playlist_list) %} {% for playlist in playlist_list %}
<div class="well col-xs-10 col-sm-6 col-md-4 col-lg-2 text-center playlist-card">
  <h2><a href='/playlist/{{playlist.id}}'></h2> {{ playlist.name }} <br>
  <small>by {{ playlist.group.name }}</small>
</div>
{% endfor %} {% endmacro %}

<!-- Display Songs in a Playlist -->
{% macro displaySong(song_list) %} {% for song in song_list %}

<div class="row">

  <div class="col-md-4 col-lg-4">
  </div>

  <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">

    <li class="text-center">

      <h3 class="song-name">

             {{song.name}}

          </h3>

    </li>

  </div>

</div>

{% endfor %} {% endmacro %}

<!-- Display Playlists in a Group page -->
{% macro displayPlaylistGroup(playlist_list) %} {% for playlist in playlist_list %}

<div class="row">

  <div class="col-md-4 col-lg-4">
  </div>

  <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">

    <li class="text-center">

      <h3 class="playlist-name">

             <a href='/group/playlist/{{playlist.id}}'>
                  {{ playlist.name }}
                  <small>
                      by {{ playlist.group.name }}
                  </small>
              </a>

  </h3>

    </li>

  </div>

</div>

{% endfor %} {% endmacro %}


<!-- Display Songs in a Group's Playlist -->
{% macro displaySongGroup(song_list) %} {% for song in song_list %}

<div class="row">

  <div class="col-md-4 col-lg-4">
  </div>

  <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">

    <li class="text-center">

      <h3 class="song-name">

             {{song.name}}

          </h3>

      <a href="/group/playlist/song/delete/{{song.id}}">Delete Song</a>

    </li>

  </div>

</div>

{% endfor %} {% endmacro %}
