{% extends 'base.html' %}
<!-- {% import 'macros.html' as macro%} {%block styles%} {{ super() }} -->
<!-- <link rel="stylesheet" href="{{url_for('static', filename='css/index.css')}}">{%endblock%} -->

<!-- sidebar -->
{% block navbar %}
<div class="row">
  <div class="col-md-2" id="position1">
    <ul>
      <h1 id="heading"><a href="/">NICKBOX</a></h1>
      <h2><a href="/">Home</a> {% if current_user.is_authenticated %} {{current_user.name}}</ul>
        <a href="{{url_for('auth.logout')}}">Log out</a>
        {% else %}
        <ul><a href="{{url_for('auth.login')}}"><button type="button" name="button">Login</button></a></ul>{%endif%}
        <ul><h2><a href="{{url_for('auth.register')}}"><button type="button" name="button">Create Group</button></a></ul></h2>
      <a href="/"><i class="glyphicon glyphicon-headphones"></i>Playlist</a>
      <span class="social">
          <a class="icon icon-facebook facebookIcon" target="_blank" href="https://www.facebook.com/github"></a>
          <a target="_blank" href="https://twitter.com/github" class="icon icon-twitter"></a>
          <a target="_blank" href="https://instagram.com/github/" class="icon icon-instagram"></a>
          <a target="_blank" href="https://plus.google.com/103476120225460848054/posts" class="icon icon-googleplus"></a>
          <a target="_blank" href="http://www.pinterest.com/github/" class="icon icon-pinterest"></a>
          <a target="_blank" href="http://flickr.com/github" class="icon icon-flickr"></a>
          <a target="_blank" href="https://www.linkedin.com/company/github" class="icon icon-linkedin"></a>
        </span>

    </ul>
  </div>
  {% endblock %}
